form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  